<div class="wizard user-generic-data-status" id="<%=batch_id%>">

    <span class="title"></span>


    <div class="status-labels">
        <span class="failed-label"><%=failed%>:</span>
        <span class="label failed"> </span>
        <span class="warning-label"><%=warning%>:</span>
        <span class="label warning"> </span>
        <span class="success-label"><%=success%>:</span>
        <span class="label success"> </span>

    </div>

    <div class="content">
        <table id="user_generic_data_status_grid-<%=batch_id%>"></table>
    </div>

    <div class="bottom-actions">


        <div class="confirm-buttons-div">

            <button class="done-btn"></button>

        </div>

    </div>

</div>