<script>
	var payroll_remittance_agency_event_wizard_controller = new PayrollRemittanceAgencyEventWizardController();
</script>

<div class="wizard tax_wizard">

	<span class="title">Tax Wizard</span>

	<div class="progress-bar">
		<div class="title-1-div">
			<div class="logo"></div>
			<span class="title-1">Tax Wizard</span>
		</div>
		<div class="clear-both-div"></div>
		<!--
        <progress class="progress" max="10" value="0">
        </progress>
		<span class="steps"></span>
		-->
	</div>

	<div class="content">


	</div>

	<div class="bottom-actions" id="cards">

	</div>
	<div class="bottom-actions">

		<div class="move-buttons-div">
			<button class="back-btn disable-image"></button>
			<button class="forward-btn disable-image"></button>
		</div>

		<div class="confirm-buttons-div">

			<button class="done-btn disable-image"></button>

			<button class="close-btn"></button>

		</div>

	</div>

</div>