<div class="wizard forgot-password">
    <script>
        var forgot_password_wizard = new ForgotPasswordWizardController();
    </script>
    <span class="title">Wizard</span>

    <div class="content" style="height: auto; top: 10px">
    </div>

    <div class="bottom-actions">
        <div class="confirm-buttons-div">
            <button class="done-btn">
                <span style="opacity: 0">.</span>
            </button>
            <button class="close-btn">
                <span style="opacity: 0">.</span>
            </button>
        </div>
    </div>
</div>