<div class="container quick_punch_login_container">
	<form class="form-signin" role="form" autocomplete="off">
		<h4 class="form-signin-heading"><img src="../../images/lock.gif"> <%= $.i18n._('Quick Punch Login') %></h4>
		<div class="form-group">
			<label for="quick_punch_id"><%= $.i18n._('Quick Punch ID') %></label>
			<input type="number" id="quick_punch_id" name="quick_punch_id" min="0" data-toggle="tooltip" class="form-control" tabindex="1" tab-start autocomplete="off" autofocus>
		</div>
		<div class="form-group">
			<label for="quick_punch_password"><%= $.i18n._('Password') %></label>
			<input type="number" id="quick_punch_password" name="quick_punch_password" tabindex="2" data-toggle="tooltip" class="form-control" autocomplete="off">
		</div>
		<div class="form-group">
			<label for="language"><%= $.i18n._('Language') %></label>
			<select tabindex="3" id="language" data-toggle="tooltip" name="language" class="form-control">
			</select>
		</div>
		<button tabindex="0" tab-end class="btn btn-lg btn-primary btn-block" id="punch_login" type="button"><%= $.i18n._('Login') %></button>
	</form>
</div> <!-- /container -->
