<div class="wizard process_transactions_wizard">

	<span class="title">Process Transactions</span>

	<div class="progress-bar">
		<div class="title-1-div">
			<div class="logo"></div>
			<span class="title-1">Process Transactions</span>
		</div>
		<div class="clear-both-div"></div>
		<!--
        <progress class="progress" max="10" value="0">
        </progress>
		<span class="steps"></span>
		-->
	</div>

	<div class="content">


	</div>

	<div class="download_warning">

	</div>
	<div class="bottom-actions">

		<div class="confirm-buttons-div">

			<button class="done-btn disable-image">
				<span style="opacity: 0">.</span>
			</button>

			<button class="close-btn">
				<span style="opacity: 0">.</span>
			</button>

		</div>

	</div>

</div>