<div class="edit-view PayrollRemittanceAgencyEditView">

    <div class="edit-view-tab-bar" id="payroll_remittance_agency_edit_view_tab_bar">

        <div class="navigation-div" style="display: none">
            <span class="navigation-label"></span>
            <img class="left-click arrow"/>

            <div class="navigation-widget-div"></div>
            <img class="right-click arrow"/>
        </div>

        <span class="close-icon"></span>

        <ul class="edit-view-tab-bar-label" ondragstart="return false;">
            <li><a ref="tab_payroll_remittance_agency" href="#tab_payroll_remittance_agency"></a></li>
            <li><a ref="tab_payroll_remittance_agency_event" href="#tab_payroll_remittance_agency_event"></a></li>
            <li><a ref="tab_audit" href="#tab_audit"></a></li>
        </ul>


        <div id="tab_payroll_remittance_agency" class="edit-view-tab-outside">
            <div class="edit-view-tab" id="tab_payroll_remittance_agency_content_div">

                <div class="first-column"></div>
                <div class="second-column"></div>

            </div>
        </div>

        <div id="tab_payroll_remittance_agency_event" class="edit-view-tab-outside">
            <div class="edit-view-tab" id="tab_payroll_remittance_agency_event_content_div">
                <div class="first-column-sub-view">

                </div>
                <div class="save-and-continue-div">
                    <span class="message"></span>

                    <div class="save-and-continue-button-div">
                        <div class="ribbon-button">
                            <img class="icon">
                            <span class="label"></span>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div id="tab_audit" class="edit-view-tab-outside-sub-view">
            <div class="edit-view-tab" id="tab_audit_content_div">
                <div class="first-column-sub-view"></div>

                <div class="save-and-continue-div">
                    <span class="message"></span>

                    <div class="save-and-continue-button-div">
                        <div class="ribbon-button">
                            <img class="icon">
                            <span class="label"></span>
                        </div>

                    </div>
                </div>

            </div>
        </div>


    </div>

</div>