<!--
  ~ /*$License$*/
  -->

<!--
  ~ /*$License$*/
  -->

<div class="edit-view awesomeboxtest-edit-view">

	<div class="edit-view-tab-bar" id="awesomeboxtest_edit_view_tab_bar">

		<div class="navigation-div" style="display: none">
			<span class="navigation-label"></span>
			<img class="left-click arrow"/>

			<div class="navigation-widget-div"></div>
			<img class="right-click arrow"/>
		</div>

		<span class="close-icon">x</span>

		<ul class="edit-view-tab-bar-label">
			<li><a ref="tab_employee" href="#tab_employee"></a></li>
		</ul>


		<div id="tab_employee" class="edit-view-tab-outside">
			<div class="edit-view-tab" id="tab_employee_content_div">

				<div class="first-column"></div>
				<div class="second-column">
					<div class="control-bar">
						<div class="date-chooser-div">
						</div>
						<div class="action-chooser-div">

							<div class="switch-button-div" id="all_employee">

							</div>

							<div class="switch-button-div" id="daily_totals">

							</div>

							<div class="switch-button-div" id="weekly_totals">

							</div>

							<div class="switch-button-div" id="strict_range">

							</div>

						</div>
						<div class="schedule-mode-div">
							<div class="toggle-button-div">
							</div>
						</div>
					</div>
				</div>

				<div id="qunit_container" style="display:none;">
					<div id="qunit"></div>
					<div id="qunit-fixture"></div>
				</div>
			</div>
		</div>


	</div>


</div>