/* start .lds-spinner loading spinner code */
.lds-spinner {
	display: inline-block;
	position: relative;
	width: 4em;
	height: 150px; /* 150px is used instead of 4em, so that the time&percentage based counters are positioned correctly. TODO-future: improve positioning of those elements and set this back to 4em. */
	top: 40px;
	font-size: 16px; /* Edit only this to change spinner size - Everything has been updated to work off em's so that all you need to change is the font size here to adjust spinner size */
}

.lds-spinner div {
	transform-origin: 2em 2em;
	animation: lds-spinner 1.2s linear infinite;
}

.lds-spinner div:after {
	content: ' ';
	display: block;
	position: absolute;
	top: 0.2em;
	left: 1.8em;
	width: 0.3em;
	height: 0.9em;
	border-radius: 20%;
	background: #ffffff;
}

.lds-spinner div:nth-child(1) {
	transform: rotate(0deg);
	animation-delay: -1.1s;
}

.lds-spinner div:nth-child(2) {
	transform: rotate(30deg);
	animation-delay: -1s;
}

.lds-spinner div:nth-child(3) {
	transform: rotate(60deg);
	animation-delay: -0.9s;
}

.lds-spinner div:nth-child(4) {
	transform: rotate(90deg);
	animation-delay: -0.8s;
}

.lds-spinner div:nth-child(5) {
	transform: rotate(120deg);
	animation-delay: -0.7s;
}

.lds-spinner div:nth-child(6) {
	transform: rotate(150deg);
	animation-delay: -0.6s;
}

.lds-spinner div:nth-child(7) {
	transform: rotate(180deg);
	animation-delay: -0.5s;
}

.lds-spinner div:nth-child(8) {
	transform: rotate(210deg);
	animation-delay: -0.4s;
}

.lds-spinner div:nth-child(9) {
	transform: rotate(240deg);
	animation-delay: -0.3s;
}

.lds-spinner div:nth-child(10) {
	transform: rotate(270deg);
	animation-delay: -0.2s;
}

.lds-spinner div:nth-child(11) {
	transform: rotate(300deg);
	animation-delay: -0.1s;
}

.lds-spinner div:nth-child(12) {
	transform: rotate(330deg);
	animation-delay: 0s;
}

@keyframes lds-spinner {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

/* end .lds-spinner loading spinner code */

.popup-loading {
	background: rgba(0, 0, 0, 0.8);
	/*position: absolute;*/
	position: fixed;
	top: 50%;
	left: 50%;
	margin: -100px 0 0 -100px;
	border: 1px solid;
	height: 200px;
	width: 200px;
	/*line-height:200px;*/
	font-size: 16px;
	text-align: center;
	z-index: 101;
	border-radius: 4px;
}

.popup-loading .processing {
	position: relative;
	top: 10%;
	color: #ffffff;
	max-height: 20px;


}

.popup-loading .close-icon {
	color: #ffffff;
	cursor: pointer;
	font-size: 12px;
	position: absolute;
	right: 7px;
	top: 3px;
}

.popup-loading .complete-info {
	color: #ffffff;
	cursor: pointer;
	font-size: 11px;
	position: relative;
	text-align: center;
	top: -15px;
}

.popup-loading .progress-bar {
	left: 10px;
	position: absolute;
	bottom: 50px;
	width: 180px;
	background-color: #eaeaea;
}

.popup-loading .time-remaining {
	color: #ffffff;
	cursor: pointer;
	font-size: 11px;
	position: relative;
	top: -10px;
}

.popup-loading .sonic {

}