<div class="edit-view TimeSheetAuthorizationEditView">

    <div class="edit-view-tab-bar" id="timesheet_authorization_edit_view_tab_bar">

        <div class="navigation-div" style="display: none">
            <span class="navigation-label"></span>
            <img class="left-click arrow"/>

            <div class="navigation-widget-div"></div>
            <img class="right-click arrow"/>
        </div>

        <span class="close-icon">x</span>

        <ul class="edit-view-tab-bar-label" ondragstart="return false;">
            <li><a ref="tab_timesheet_verification" href="#tab_timesheet_verification"></a></li>
            <!--<li><a ref="tab1" href="#tab1"></a></li>-->
        </ul>


        <div id="tab_timesheet_verification" class="edit-view-tab-outside">
            <div class="edit-view-tab" id="tab_timesheet_verification_content_div">

                <div class="first-column full-width-column"></div>

                <div class="authorization-grid-div inside-grid full-width-column">
                    <div class="grid-top-border"></div>
                    <div class="grid-title separated-box"></div>
                    <table id="grid"></table>
                    <div class="grid-bottom-border"></div><div class="bottom-div"> </div>
                    <br>
                </div>

                <div class="third-column  timesheet-authorization-grid-div">
                    <div class="accumulated-total-grid-title timesheet-authorization-summary-title full-width-column"></div>
                    <table id="timesheet_authorization_summary_grid"></table>
                </div>
                <div class="forth-column  exception-grid-div">
                    <div class="accumulated-total-grid-title exception-title full-width-column"></div>
                    <table id="exception_grid"></table>
                </div>

                <div class="separate full-width-column"></div>
                <div class="second-column full-width-column" style="margin-left: 0"></div>

            </div>
        </div>

    </div>

</div>